<form id="name-form" action="/" method="POST" autocomplete="off">
  <div class="form-field">
    <label for="name" class="form-label">Me llamo</label>
    <div class="form-input">
      <input type="text" id="name" name="name" value="<%= name %>" />
    </div>
  </div>
  <div class="form-field">
    <label for="year" class="form-label">y nac&iacute; en</label>
    <select id="year" name="year">
      <% (1960..2010).each do |sel_year| %>
        <option value="<%= sel_year %>" <% if year == sel_year %>selected="selected"<% end %>>
          <%= sel_year %>
        </option>
      <% end %>
    </select>
  </div>
  <input type="submit" name="submit" class="btn primary" value="Continuar" />
</form>

<section id="chart-wrapper">
  <header>
    <h2>Tus estad&iacute;sticas</h2>
  </header>
  <div id="main-chart" class="chart"></div>
</section>

<section id="extra-name-data">
  <header>
    <h2>M&aacute;s datos</h2>
  </header>
  <ul></ul>
</section>

<section id="extra-year-data">
  <header>
    <h2>Popular en <span class="specific-year"></span></h2>
  </header>
  <div id="female-year-chart" class="chart year-chart"></div>
  <div id="male-year-chart" class="chart year-chart"></div>
</section>

<section id="name-examples">
  <header>
    <h2>Ejemplos</h2>
  </header>
  <ul>
    <li>
      <a href="/nombre/diego/1979">
        <img src="<%= asset_path('images/examples/diego.jpg') %>" />
        <span class="example-label">Diego</span>
      </a>
    </li>
    <li>
      <a href="/nombre/jose/2010">
        <img src="<%= asset_path('images/examples/jose.jpg') %>" />
        <span class="example-label">Jos&eacute;</span>
      </a>
    </li>
    <li>
      <a href="/nombre/juana/1979">
        <img src="<%= asset_path('images/examples/juana.jpg') %>" />
        <span class="example-label">Juana</span>
      </a>
    </li>
  </ul>
</section>
