<!DOCTYPE html>
<html>
<head>
  <title><% if main_name %><%= main_name %> <% if year %>(<%= year %>)<% end %> - <% end %>DATAUY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="description" content="Goal.me description" />
  <meta name="keywords" content="goal,task,system" />
  <meta http-equiv="Content-Language" content="en" />

  <link href="<%= asset_path('images/favicon.png') %>" rel="shortcut icon" type="image/png" />
  <link href="<%= stylesheet_path('webapp.css') %>" rel="stylesheet" type="text/css" />
  <link href="<%= stylesheet_path('jqplot.css') %>" rel="stylesheet" type="text/css" />

  <script src="<%= javascript_path('modernizr.min.js') %>"></script>
</head>
<body class="<%= main_name ? 'with-name' : '' %>">
  <header class="main-header">
    <a href="/">
      <h1>180 Ciencia</h1>
      <img src="<%= asset_path('images/logo.png') %>" alt="180 Ciencia" class="logo" />
    </a>
    <nav>
      <ul>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="DataUY" data-lang="es" data-related="portal180">Twittear</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
        <li>
          <div class="fb-like" data-href="<%= url %>" data-width="80" data-layout="button_count" data-show-faces="false" data-send="false"></div>
        </li>
      </ul>
    </nav>
  </header>

  <section id="introduction">
    <h1>Descubr&iacute; la historia y las estad&iacute;sticas de tu nombre durante los &uacute;ltimos 50 a&ntilde;os.</h1>
  </section>

  <section id="main">
    <%= yield %>
  </section>

  <footer>
    <p>
      Lamentablemente s&oacute;lo contamos con los datos de Montevideo.
      &iquest;Pod&eacute;s conseguir de otros departamentos? <a href="mailto:daniel.chino.carranza@gmail.com" target="_blank">&iexcl;Av&iacute;sanos!</a>
    </p>
    <p>Informaci&oacute;n proporcionada por <a href="http://www.montevideo.gub.uy/">IM</a></p>
    <p><a href="http://www.datauy.org/"><img src="<%= asset_path('images/datauy-logo.png') %>" alt="DATAUY" /></a></p>
  </footer>

  <div id="scripties">
    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
    <script src="<%= javascript_path('jquery.min.js') %>"></script>
    <script src="<%= javascript_path('jquery.jqplot.min.js') %>"></script>
    <script src="<%= javascript_path('jqplot-plugins/jqplot.highlighter.min.js') %>"></script>
    <script src="<%= javascript_path('jqplot-plugins/jqplot.cursor.min.js') %>"></script>
    <script src="<%= javascript_path('jqplot-plugins/jqplot.donutRenderer.min.js') %>"></script>
    <script src="<%= javascript_path('data_processor.js') %>"></script>
    <script src="<%= javascript_path('webapp.js') %>"></script>
  </div>
</body>
</html>
